body{
    background-color: antiquewhite;
}

.container{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:cursive;
    background-color: antiquewhite;
}
.container h1{
    font-size: 3rem;
    text-decoration: underline;
}
.container h3{
    font-size: 4rem;
    color: rgb(0, 73, 244);
}

#btns{
    display: flex;
    justify-content: space-evenly;
    width: 30vw;

}
button{
    height: 5vh;
    width: 8vw;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px dotted rgb(0, 0, 0);
    font-size: 2rem;
}